/*********************NavBar********************/

.navbar-brand {
	font-size: 2rem !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-bottom: .2rem solid white;
}

.navbar-nav > li > a:hover {
  border-bottom: .2rem solid white;
}